<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd">

<bean id ="logAroundAdvice" class = "com.nt.aspects.LogAroundAdvice"/>
<bean id ="targetClass" class ="com.nt.service.IntrAmtCalculator"/>
<bean id="cacheAdvice" class="com.nt.aspects.CacheAdvice"/>

<bean id = "proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
	<property name="target" ref="targetClass"/>
	<property name="interceptorNames">
		<list>
			<value>logAroundAdvice</value>
			<value>cacheAdvice</value>
		</list>
	</property>
</bean>

</beans>