  <beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:c="http://www.springframework.org/schema/c"
 xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="cv" class="com.nt.beans.CheckVoting" init-method="check"  destroy-method="myDestroy">
      <property name="name"  value="Chetan"/>
      <property name="age"  value="26"/>
  </bean>
 </beans>