<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util.xsd">

<bean id="jndiOFcatBean" class="org.springframework.jndi.JndiObjectFactoryBean">
	<property name="jndiName" value="DsJndi"/>
</bean>
<bean id="template" class="org.springframework.jdbc.core.JdbcTemplate">
    <constructor-arg ref="jindiOFcatBean"/>
 </bean>
 <bean id="dao" class="com.nt.dao.DBOperationsDAO">
    <property name ="jdbcTemplate" ref="template"/>
 </bean>
 <bean id="service" class="com.nt.service.DBOperationsService">
     <property name="dao" ref="dao"/>
 </bean>
</beans>  
  
  