<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">

<bean id="target" class="com.nt.service.MathCal" />
<bean id="throwsAdvice" class="com.nt.aspects.ExceptionLoggerAdvice" />

 <aop:config>

   <aop:pointcut id="ptc1"  expression="execution(* com.nt.service.MathCalInterface.*(..))"/>
     
    <aop:aspect id="throwsAspect" ref="throwsAdvice">
       <aop:after-throwing method="exceptionLogging"  throwing = "ae"  pointcut-ref="ptc1" />
    </aop:aspect>
    
  </aop:config> 
</beans>  
  
