<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans
                                       http://www.springframework.org/schema/beans/spring-beans.xsd">
  
   <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
      <property name="basenames">
	   <list>
	          	   <value>App</value>
			   <value>App_de_DE</value>
			   <value>App_fr_CA</value>
			   <value>App_hi_IN</value>
	    </list>
	   </property>
  </bean>                             

 
  </beans>
  
  
  
  